<script>
clientGreeting = `
..........................................................
::'######::'##:::::::'####:'########:'##::: ##:'########::
:'##... ##: ##:::::::. ##:: ##.....:: ###:: ##:... ##..:::
: ##:::..:: ##:::::::: ##:: ##::::::: ####: ##:::: ##:::::
: ##::::::: ##:::::::: ##:: ######::: ## ## ##:::: ##:::::
: ##::::::: ##:::::::: ##:: ##...:::: ##. ####:::: ##:::::
: ##::: ##: ##:::::::: ##:: ##::::::: ##:. ###:::: ##:::::
:. ######:: ########:'####: ########: ##::. ##:::: ##:::::
::......:::........::....::........::..::::..:::::..::::::
`

$('body').terminal({
    admin: function() { location.href = "/admin" },
    server: function() { location.href = "{% url 'server' %}" },

    echo: function(what) { this.echo(what) },
    clear: function() { this.clear() },
    time: function() { this.echo('{% now "Y m d H:i:s" %}') },
    whoami: function() { this.echo('client')},

    GET:function(server) {
        $.ajax({
            type:"POST",
            url:"{% url 'get' %}",
            data: {
                server: server,
                csrfmiddlewaretoken: "{{ csrf_token }}"
            }
        })
    },

    monitor:function(){
        $.ajax({
            type:"GET",
            url:"{% url 'monitor' %}",
            data:{},
            invokedata:{
                "terminal":this
            },
            success: function(response) {
                for (let i = 0; i < response['request'].length; i++) {
                    request = response['request'][i]
                    this.invokedata.terminal.echo(
                        request.pk + " " +request.method + " " + request.server
                    )
                }
            }
        })
        
        
    },
}, {
    greetings: clientGreeting
});
</script>